.button {
  padding: 5px 10px;
  border-radius: 25px;
  border: 3px solid var(--lime100);
  color: var(--lime100);
  font-weight: 600;

  &:hover {
    color: var(--lime950);
    background-color: var(--lime100);
  }
}
