.employeeGeneralInfo {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .dp-label.dp-label-displayed {
    background-color: var(--lime50);
  }
}

.employeeAddress {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.employeeDepartment {
  padding-bottom: 25px;
}
