header {
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    display: flex;
    gap: 10px;

    h1 {
      font-weight: bold;
      color: var(--lime50);
    }

    img {
      width: 50px;
    }
  }

  h2 {
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--lime100);
  }
}
