.createEmployee {
  background-color: var(--lime50);
  padding: 50px 50px;
  max-width: 370px;
  margin: 0 auto;
  border-radius: 25px;

  form {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .MuiButton-root {
    color: #64665c;
    border: 1px solid #64665c;

    &:hover {
      background-color: var(--lime100);
    }
  }
}
