.createEmployee {
  background-color: var(--lime50);
  padding: 100px 75px;
  max-width: 370px;
  margin: 0 auto;
  border-radius: 25px;

  form {
    display: flex;
    flex-direction: column;
  }
}
