/* *********** Import pages and components ********** */
@use "./pages/createEmployee.scss";
@use "./pages/currentEmployee.scss";
@use "./pages/error.scss";
@use "./components/header.scss";
@use "./components/button.scss";

/* *********** General import ********** */
@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap");

/* *********** Variables ********** */
:root {
  --lime50: #f7fee7;
  --lime100: #ecfccb;
  --lime200: #d9f99d;
  --lime300: #bef264;
  --lime400: #a3e635;
  --lime500: #84cc16;
  --lime600: #65a30d;
  --lime700: #4d7c0f;
  --lime800: #3f6212;
  --lime900: #365314;
  --lime950: #1a2e05;
}

/* *********** General ********** */
body {
  background-color: var(--lime950);
  max-width: 1024px;
  margin: 0 auto;
  font-family: "Domine", sans-serif;
}

a {
  text-decoration: none;
}
