.datepicker {
  display: inline-block;

  & .datepicker__trigger {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #bec3b1;
    border-radius: 4px;
    padding: 15px 20px;
    cursor: pointer;
    background-color: transparent;
  }

  & .datepicker__placeholder {
    color: #64665c;
    min-width: 100px;
    font-family: Inter, sans-serif;
  }

  & .datepicker__value {
    color: #000;
    min-width: 100px;
    font-family: Inter, sans-serif;
  }

  & .datepicker__label {
    display: none;

    &.datepicker__label--displayed {
      display: block;
      position: absolute;
      top: 0;
      left: 16px;
      transform: translateY(-50%);
      font-size: 0.75rem;
      color: #64665c;
      font-family: Inter, sans-serif;
      background-color: #f8fee7;
      padding: 0 4px;
    }
  }
}

.datepicker-popup {
  position: absolute;
  z-index: 10;
  background-color: white;
  color: black;
  border: 1px solid #bec3b1;
  border-radius: 4px;
  padding: 10px;

  & .rdp-root {
    --rdp-selected-border: 1px solid black;
  }

  & .rdp-chevron {
    fill: black;
  }

  & .rdp-today .rdp-day_button {
    color: black;
  }

  & .datepicker-popup__today-button {
    background-color: #bec3b1;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    margin-top: 10px;
    width: 100%;
  }
}

.datepicker-backdrop {
  display: none;
}

@media (max-width: 768px) {
  .datepicker-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: max-content;
  }

  .datepicker-backdrop {
    display: block;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 10;
  }
}
